Package: appstream-extras
Version: 1.0.0-2big1
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:452
Description: Package to add more apps in appstream and disable compression, thanks to Elton Fabricio

