Package: appstream-extras
Version: 1.0.0-1big2
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:268
Description: Package to add more apps in appstream, thanks to Elton Fabricio

